.button {
  /* padding: 50px 32px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;

  border: 3px #2e81ff solid;
  cursor: pointer;
  transition: 0.4s;
  background-color: #1e6de4;

  font-size: 28px;
  height: 100px;
}

.button:hover {
  box-shadow: 7px 5px 56px -14px #68a5ff;
}

.button:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #449bff;
  border: 3px #4a92ff solid;
}

.disabled {
  background-color: #95a5a6;
  border: 3px #95a5a6 solid;
  cursor: not-allowed;
}

.disabled:hover {
  box-shadow: none;
}

.disabled:active {
  transform: none;
  border: 3px #95a5a6 solid;
}