.button {
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  color: black;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover:not(:disabled) {
  background-color: #eaeaea;
}

.button:disabled {
  cursor: default;
}

.correct {
  background-color: #d4edda;
  border-color: #28a745;
  color: #155724;
}

.incorrect {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}

.button:has(img) {
  padding: 0;
}


@media (max-width: 375px) {
  .button {
    padding: 4px;
  } 
}