.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.content {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  color: white;
  
  height: 100%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.title {
  font-size: 96px;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menuLink {
  /* padding: 50px 32px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;

  border: 3px #64acff solid;
  cursor: pointer;
  transition: 0.4s;
  background-color: #449bff;

  font-size: 28px;
  height: 100px;
}

.menuLink:hover {
  box-shadow: 7px 5px 56px -14px #a0cdff;
}

.menuLink:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #449bff;
  border: 3px #8cc2ff solid;
}

.singleplayer {
  
}

.multiplayer {
  background-color: #95a5a6;
  border: 3px #95a5a6 solid;
  cursor: not-allowed;
}

.multiplayer:hover {
  box-shadow: none;
}

.multiplayer:active {
  transform: none;
}

.ranking {

}