/* .answerContainer {
  padding: 20px;
  text-align: center;
  color: white;
}

.questionText {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.textOptions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.imageOptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 16px;
}

.option {
  border: 2px solid white;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}

.correct {
  border-color: green;
}

.incorrect {
  border-color: red;
}

.flagImage {
  width: 100%;
  height: auto;
}

.imageWrapper {
  margin-bottom: 20px;
}

.questionImage {
  max-height: 300px;
  width: auto;
  border-radius: 10px;
} */
