.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 100px;
  font-size: 1.75rem;
  
  cursor: pointer;
  transition: 0.4s;
  color: white;
}

.button:active {
  transform: scale(0.97);
}

.default {
  height: 6.25rem;
  border: 3px #2e81ff solid;
  background-color: #1e6de4;
}

.default:hover {
  box-shadow: 7px 5px 56px -14px #68a5ff;
}

.default:active {
  box-shadow: 7px 5px 56px -10px #449bff;
  border: 3px #4a92ff solid;
}

.back {
  border: 3px #ff2e2e solid;
  background-color: #e41e1e;
  padding: 10px 48px;
  width: min-content;
}

.onMain {
  height: 6.25rem;
  border: 3px #ff2e2e solid;
  background-color: #e41e1e;
}

.back:hover,
.onMain:hover {
  box-shadow: 7px 5px 56px -14px #ff6868;
}

.back:active,
.onMain:active {
  box-shadow: 7px 5px 56px -10px #ff4444;
  border: 3px #ff4a4a solid;
}